/* GENERAL */
*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  background: #eaeaea;
  color: #404040;
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4 {
  font-weight: 400;
}

button {
  background: transparent;
  border: none;
  cursor: pointer;
  outline: none;
}

.link {
  background: transparent;
  border: none;
  color: #FF4403;
  cursor: pointer;
  font-size: 14px;
  outline: none;
  text-decoration: none;
}

.link:hover {
  text-decoration: underline;
}



/* HEADER */
.header {
  background: #fff;
  box-shadow: 0 3px 6px rgba(0, 0, 0, .16);
  padding: 0 40px;
}



/* NAVBAR */
.navbar {
  align-items: center;
  display: flex;
  height: 55px;
}

.navbar > * {
  margin-right: 10px;
}

.navbar-brand {
  font-size: 18px;
  margin: 0;
}



/* MAIN */
.main {
  display: flex;
  margin: 10px auto;
  max-width: 1000px;
}



/* CONTAINERS */
.post-container,
.post-form-container,
.post-list-container {
  width: 800px;
  margin-right: 20px;
}

.category-list-container {
  margin-top: 60px;
  width: 200px;
}

.page-post-read .post,
.page-post-read .post-body {
  height: auto;
}

.page-post-read .category-list-container {
  margin-top: 10px;
}



/* CATEGORY LIST */
.category-list {
  background: #fff;
  box-shadow: 0 3px 6px rgba(0, 0, 0, .16);
  padding: 10px 20px;
  width: 250px;
}

.category-list-heading {
  margin: 10px 0;
}

.category-list-items {
  padding: 0;
  padding-left: 5px;
  list-style: none;
  margin: 5px 0 15px;
}

.category-list-item {
  margin: 5px 0;
}

.category-list-item .link {
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
  padding: 10px 0;
}



/* POST */
.post {
  background: #fff;
  box-shadow: 0 3px 6px rgba(0, 0, 0, .16);
  height: 180px;
  margin: 10px 0;
  padding: 15px 55px 15px 0;
  position: relative;
}

.post-flex {
  display: flex;
}

.post-vote-counter {
  align-self: center;
}

.post-controls {
  position: absolute;
  top: 15px;
  right: 15px;
}

.post-title {
  margin: 5px 0;
  max-width: 610px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.post-sub-title {
  color: #707070;
  font-size: 14px;
  margin: 5px 0;
}

.post-body {
  color: #707070;
  height: 50px;
  overflow: hidden;
}

.post-comment-count {
  color: #707070;
  font-size: 14px;
}



/* VOTE COUNTER */
.vote-counter {
  display: flex;
  flex-direction: column;
  width: 55px;
  align-items: center;
}

.vote-counter-count {
  color: #707070;
  display: inline-block;
  font-size: 22px;
  margin: 10px 0;
}



/* ICON */
.icon-arrow {
  color: #FF4403;
  display: inline-block;
  font-size: 28px;
}



/* POST FORM */
.post-form {
  background: #fff;
  box-shadow: 0 3px 6px rgba(0, 0, 0, .16);
  margin: 10px 0;
  padding: 15px 10px;
  position: relative;
}

.post-form .textarea {
  width: 100%;
  border: 1px solid #eaeaea;
  height: 80px;
  padding: 10px;
  margin: 5px 0 1px;
}

.post-form .input {
  width: 100%;
  border: 1px solid #eaeaea;
  padding: 10px;
}

.post-form .select {
  width: 100%;
  border: 1px solid #eaeaea;
  padding: 10px;
}

.post-form-controls {
  text-align: right;
  padding: 10px 0;
  text-transform: uppercase;
}

.form-group {
  margin: 0 0 10px;
}

.form-group-heading {
  font-size: 14px;
  margin: 0 0 10px;
}



/* COMMENTS */
.comment {
  background: #fff;
  box-shadow: 0 3px 6px rgba(0, 0, 0, .16);
  height: 140px;
  margin: 10px 0;
  padding: 15px 55px 15px 0;
  position: relative;
}

.comment-flex {
  display: flex;
}

.comment-vote-counter {
  align-self: center;
}

.comment-controls {
  position: absolute;
  top: 15px;
  right: 15px;
}

.comment-sub-title {
  color: #707070;
  font-size: 14px;
  margin: 5px 0;
}

.comment-body {
  color: #707070;
  margin: 10px 0;
  height: 90px;
  overflow-y: scroll;
}

.comment-meta {
  position: absolute;
  bottom: 15px;
  right: 20px;
}



/* COMMENT FORM */
.comment-form {
  background: #fff;
  box-shadow: 0 3px 6px rgba(0, 0, 0, .16);
  height: 175px;
  margin: 10px 0;
  padding: 15px 10px;
}

.comment-form .textarea {
  width: 100%;
  border: 1px solid #eaeaea;
  height: 80px;
  padding: 10px;
}

.comment-form .input {
  width: 100%;
  border: 1px solid #eaeaea;
  padding: 10px;
}

.create-form-controls {
  text-align: right;
  padding: 10px 0;
  text-transform: uppercase;
}


/* ADD BUTTON */
.add-button {
  border-radius: 50%;
  box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  overflow: hidden;
  padding: 20px 24px;
  text-decoration: none;
  background: #FF4403;
  color: #fff;
  position: absolute;
  bottom: 25px;
  right: 25px;
}